# dependencies
/node_modules

# testing
/coverage
**/__snapshots__/
*.snap
/lcov-report
clover.xml
coverage-final.json
lcov.info

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# rust-based compiler
.swc